.t-center
  text-align: center
.t-left
  text-align: left
.t-right
  text-align: right
.ft-12
  font-size: 12px
.ft-14
  font-size: 14px
.ft-16
  font-size: 16px
.col-white
  color: #fff
.col-black
  color: #333
.col-gray
  color: #666
.col-orange
  color: #fd9827
.col-red
  color: #fc564a
.col-red1
  color: #e2212c
.col-blue
  color: #5d6c92
.bg-white
  background-color: #fff
.bg-lightblue
  background-color: #f5f9fa
.bg-blue
  background-color: #6f78f3
.bg-green
  background-color: #08c59c
.bg-orange
  background-color: #f8af61
.bg-purple
  background-color: #bc54fa
.bg-lightred
  background-color: #f95f57
.bg-gray
  background-color: #f7f7f7
.bg-red
  background-color: #e2212c

